html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: inherit;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

/* Page */
.bloc_page {
  margin: auto;
  max-width: 1440px;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 1rem 0;
}

h1 {
  color: #d04f4f;
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
}

h3 {
  max-width: 227px;
}

main {
  margin: 0 5% 0 5%;
}

/* SearchBar */

.search_bar-container {
  align-items: center;
  background-color: #e7e7e7;
  border-radius: 5px;
  display: flex;
  font-family: "Lato", sans-serif;
  height: 69px;
  justify-content: center;
  margin-bottom: 1rem;
}

.search_bar-container input {
  background: transparent;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  letter-spacing: 0em;
  line-height: 22px;
  padding: 1rem;
  text-align: left;
  width: 100%;
}

.search_bar-container input:focus {
  outline: none;
}

.searchbar_image-container {
  align-items: center;
  display: flex;
  height: 69px;
  justify-content: center;
  width: 69px;
}
.fa-magnifying-glass {
  font-size: 20px;
}

/* Tags */

#tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  padding: 0.5rem 0;
}

.tag {
  align-items: center;
  border-radius: 5px;
  color: white;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  gap: 1rem;
  line-height: 22px;
  letter-spacing: 0em;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: capitalize;
}

.tag-ingredient {
  background: #3282f7;
}

.tag-appliance {
  background: #68d9a4;
}
.tag-ustensil {
  background: #ed6454;
}
.fa-circle-xmark {
font-size: 20px;
cursor: pointer;
}

/* tagsFilterBtn */

#tag_filter_btns_container {
  position: absolute;
  z-index: 1;
  max-width: 1235px;
}

.tag_btns_container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1rem 0;
  color: white;
}

.search-btn {
  color: white;
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 69px;
  padding: 0 1rem;
}

.search-btn input {
  color: white;
  border: none;
  background: transparent;
  font-family: "DM", sans-serif;
  font-size: 16px;
  width: 7rem;
}

.search-btn input:focus {
  outline: none;
}

.search-btn input::placeholder {
  color: white;
}

.filter-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 13px;
}

#ingredients-wrap {
  border-radius: 0 0 5px 5px;
}

.ingredient {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  text-align: left;
  cursor: pointer;
  padding:10px;
}


.ingredient-list, .appliance-list, .ustensil-list {
  columns: 3 2em;
  max-width: 800px;
  padding:1em;
}

.ingredient-list li, .appliance-list li, .ustensil-list li {
  text-align: left;
  text-transform: lowercase;
  display: inline-block;
  width: 100%;
}

.ingredient-list li:first-letter{
  text-transform: uppercase;
}

.appliance-list li:first-letter{
  text-transform: uppercase;
}

.ustensil-list li:first-letter{
  text-transform: uppercase;
}

#ingredient-filter-btn:focus::placeholder {
  color: transparent;
}

.btn-ingredient {
  background: #3282f7;
}

.btn-appliance {
  background: #68d9a4;
}
.btn-ustensil {
  background: #ed6454;
}

.list-hidden {
  display: none;
}

.list-show {
  display: block;
}

/* Recipes */

section{
  position:relative;
  top:125px;
}

#recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

#alert {
  margin-top: 50px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  grid-column-start: 1;
  grid-column-end: 3;
}

.card-container {
  border-radius: 5px;
  overflow: hidden;
}

.card_image-container {
  height: 180px;
  background-color: #c7bebe;
}

.card_items-container {
  height: 210px;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem 2rem 1rem;
}

.card_items-title {
  display: flex;
  justify-content: space-between;
}

.recipe-title {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.card_items-title p {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.clock {
  padding-right: 0.2rem;
}

.card_items-recipe {
  display: flex;
}

.recipes_ingredients-list {
  width: 45%;
  padding-right: 10px;
}

.composant {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
}

.composant_results {
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

.appliance {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  text-align: left;
  padding: 10px;
  cursor: pointer;
}

.ustensil {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  text-align: left;
  padding: 10px;
  cursor: pointer;
}

.quantity {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  /* font-weight: regular; */
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.unit {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  /* font-weight: regular; */
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.recipe_description {
  font-family: "Lato", sans-serif;
  width: 50%;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}
.recipe_description p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-line-clamp: 10;
  -moz-line-clamp: 10;
  -ms-line-clamp: 10;
}



/*Large devices (laptops/desktops, 800px and up) */
@media screen and (max-width: 1200px) {
  
  #recipes{
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }

}

@media screen and (max-width: 900px) {
  section {
    top: 30px;
  }
  #tag_filter_btns_container {
    position: relative;
  }
  .tag_btns_container {
    flex-direction: column;
  }
  #recipes{
    grid-template-columns: 1fr;
    gap: 2rem;
  }

}